@use "../var" as *;
@use "../mixins" as *;

.experience {
  background-color: $color-blue;
  color: $color-white;
  
    @include media-lg-min {
      padding: 100px 0;
    }
    @include media-lg {
      padding: 50px 0;
    }

  &__title {
    @extend %visually-hidden;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

      @include media-lg {
        row-gap: $gap-lg;
      }
  }
 

  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $gap;
    padding: 0 $gap-xs;

      @include media-lg-sm {
        flex-basis: 30%;
      }
      @include media-sm {
        flex-basis: 45%;
      }
      &__img {
        order: -1;
      }

      &__num {
        font-weight: 500;
        font-size: 1.313rem;
        line-height: 1.538rem;
      }
  }
}
