@use "../var" as *;
@use "./mixins" as *;

%text-loyout {
  text-align: center;

    &__title {
      @include font(2rem, $line-height-md);
      font-weight: 500;
      margin-bottom: 2.375rem;
    }
    &__text {
      color: $color-medium-grey;
    }
}


%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}