@use "../var" as *;

.text-loyout {
  text-align: center;
}
.text-loyout__title {
  font-size: 2rem;
  font-weight: 500;
  line-height: $line-height-md;
  margin-bottom: 2.375rem;
}
.text-loyout__text {
  color: $color-medium-grey;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
}