@use "../var" as *;

@mixin font($size: $font-size, $lh : $line-height, $color: $color-dark) {
  font-size: $size;
  line-height: $lh;
  color: $color;
}


@mixin container($width: $container-primary) {
  width: min(100% - $gap-lg, $width);
  margin-inline: auto;
}