.how-work,
.about {
  text-align: center;
}
.how-work__title,
.about__title {
  margin-bottom: 2.375rem;

  color: #000000;

  font-size: 2rem;
  font-weight: 500;
  line-height: 2.344rem;
}
.how-work__text,
.about__text {
  color: #727272;
}

.video__title,
.experience__title {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

html {
  overflow-x: hidden;

  color: #000000;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.641rem;
}

a {
  text-decoration: none;
}

.container {
  width: min(100% - 40px, 1110px);

  margin-inline: auto;
}
.container--sm {
  width: min(100% - 40px, 540px);
}

.header {
  padding: 4.688rem 0 8.75rem;

  background-color: #eeeff1;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  width: 48%;
  padding-top: 13.1%;
}
.header-content__title {
  color: #000000;

  font-size: 3rem;
  font-weight: 500;
  line-height: 4.922rem;
}
.header-content__text {
  margin-top: 2.063rem;

  color: #727272;
}
.header-content__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 14.063rem;
  height: 4.063rem;
  margin-top: 3.625rem;

  letter-spacing: 0.1rem;
  text-transform: uppercase;

  color: #ffffff;
  background: #34547a;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 2.5rem;
}
.header-nav__link {
  padding: 0.625rem 3px 0.625rem 0;

  -webkit-transition: color, 0.3s ease-out;
          transition: color, 0.3s ease-out;
  letter-spacing: 0.1rem;

  color: #000000;
}
.header-nav__link--active,
.header-nav__link:hover {
  color: #34547a;
}

.footer {
  padding: 3.063rem 0 2.688rem;

  color: #ffffff;
  background-color: #34547a;
}
.footer__name {
  margin-bottom: 0.688rem;

  font-size: 1.313rem;
  font-weight: 500;
}
.footer__copyright {
  font-size: 0.813rem;
  line-height: 1.333rem;
}

.about {
  padding: 7.063rem 0 5.75rem;

  background-color: #f9f9f9;
}
.how-work {
  padding: 5.75rem 0 3.063rem;

  background-color: #eeeff1;
}
.experience {
  padding: 100px 0;

  color: #ffffff;
  background-color: #34547a;
}
.experience-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.experience-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;

  padding: 0 0.3125rem;

  gap: 1.25rem;
}
.experience-item__img {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}
.experience-item__num {
  font-size: 1.313rem;
  font-weight: 500;
  line-height: 1.538rem;
}

.video {
  padding-bottom: 5.813rem;

  background-color: #eeeff1;
}
.video__iframe {
  width: 100%;
  height: 600px;

  border: 0;
}
