
  $container: 1110px;
  $container-sm: 540px;

  $breakpoints-lg: 992px;
  $breakpoints-md: 768px;
  $breakpoints-sm: 576px;
  $breakpoints-xs: 375px;

  $font-family: "Roboto", sans-serif;
  $font-size: 16px;

  $line-height: 1.641rem;
  $line-height-md: 2.344rem;
  $line-height-lg: 4.922rem;

  $letter-spacing: 0.1rem;

  $gap: 1.25rem;
  $gap-lg: calc($gap * 2);
  $gap-md: calc($gap * 1.5);
  $gap-sm: calc($gap / 2);
  $gap-xs: calc($gap / 4);
