@use "../var/" as *;

.header-content {
  display: flex;
  flex-direction: column;
  padding-top: 13.1%;
  width: 48%;
}
.header-content__title {
  color: $color-dark;
  font-size: 3rem;
  font-weight: 500;
  line-height: $line-height-lg;
}
.header-content__text {
  margin-top: 2.063rem;
  color: $color-medium-grey;
}
.header-content__btn {
  margin-top: 3.625rem;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  color: $color-white;
  background: $color-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.063rem;
  width: 14.063rem;
}