@use "../var" as *;
@use "../mixins" as *;

.mobile-menu-wrapper {
  @include media-md {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    height: 0;
    width: 0;
    left: 0;
    top: 0;
    transition: background-color 0.3s ease-in-out;
    z-index: -9;

    &.open {
      background: rgba(0, 0, 0, 0.7);
      z-index: 1;
      height: 100%;
      width: 100%;
    }
  }

}