@use "../var" as *;
@use "../mixins" as *;

.footer {
  background-color: $color-blue;
  color: $color-white;

    @include media-sm-min {
      padding: 3.063rem 0 2.688rem;
    }
    @include media-sm {
      padding: 1.5rem 0 1.5rem;
    }

    &__name {
      font-size: 1.313rem;
      font-weight: 500;
      margin-bottom: 0.688rem;
    }
    &__copyright {
      font-size: 0.813rem;
      line-height: 1.333rem;
    }
}
